<!-- <h1>User is here</h1> -->



<h1>Data Binding</h1>
1 single data Binding
<p>This is var which is work like templet litrals and also know as interpolation :
<span class="font-bold"> "{{name}}"</span></p>


<br>

<h1>Now the Property Binding</h1>

<input class="border border-black" [value]="name" type="text">
<button (click)="getalert()">click</button>

<input class="border border-green-700" type="text" [(ngModel)]="change">
<button class="border" (click)="changeval()">VALUE OF TWO WAY DATA BIND</button>

<br>


<h1>Two Way Data Binding is know as getting real time value</h1>

<input class="border border-black" type="text" [(ngModel)]="head" name="" id="">